@import "tailwindcss";
/*npx @tailwindcss/cli -i ./css/style.css -o ./dist/output.css --watch*/
* {
    @apply box-border
}

h1 {
    text-shadow: 
        5px -2px 10px rgb(113, 8, 8),
        -5px 2px 10px rgb(19, 19, 102);
    @apply
    text-red-800
        font-bold 
        text-5xl
}

h2 {
    @apply
        text-shadow-lg
        text-shadow-red-950
        text-red-800
        font-bold 
        text-2xl 
        mb-2
}

h3 {
    @apply
        text-shadow-md
        text-shadow-red-950
        text-red-800
        font-bold
        text-xl
        mb-2
}

b {
    @apply
        text-red-700
}

.container {
    @apply
        pl-10
        pr-10
        pt-4
        pb-4
}

body {
    @apply text-white;
}

body::before {
    scroll-behavior: smooth;
    content: "";
    z-index: -1;
    background-image: url(../checker.png);
    background-repeat: repeat;
    position: fixed;
    top: -128px;
    left: -128px;
    width: calc(100vw + 128px);
    height: calc(100vh + 128px);
    will-change: transform;
    animation: diagonalScroll 3s linear infinite;
    filter: brightness(35%);
}

@keyframes diagonalScroll {
    from { transform: translate(0px, 0px);   }
    to   { transform: translate(64px, 64px); }
}


/* ----------------------- */
/* TECHNICAL KNOWLEDGE CSS */
/* ----------------------- */

.card{
    box-shadow: 0px 0px 20px #9f0712;
    @apply
        border-red-800 
        border-3
        w-[20em] 
        p-4 
        rounded-2xl 
        bg-slate-900
        h-128
        mt-20
}

.mainCard {
    @apply
        mt-0
        mb-20
        grow
}

.mainCard img {
    @apply 
        rounded
        h-8
}

.mainCard h3{
    @apply
        text-center 
}

.mainCard .cardIcon {
    @apply
        flex
        justify-between
        gap-10
        w-[75%]
}

.mainCardBadges {
    @apply
        flex
        gap-5
        justify-center
}

.cardIcon{
    @apply
        p-4 
        m-auto 
        w-fit 
        bg-slate-950
        border-red-800
        border-2
        rounded-md
}


/* ------------ */
/* TIMELINE CSS */
/* ------------ */

#timelineMain {
    position: relative;
    margin: 0 auto;
}

/* The line */
#timelineMain::after {
    content: '';
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    margin-left: -5px;
    box-shadow: 0px 0px 20px #9f0712;
    @apply
        bg-red-800
}

.timelineEvent {
    position: relative;
    width: 50%;
    
    @apply
        pt-2
        pb-2
        pr-6
        pl-6
}

/* Balls */
.timelineEvent::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 0px 0px 20px #9f0712;

    @apply 
        border-6
      border-red-800
      bg-slate-800
        rounded-full
}

.timelineEvent:nth-of-type(even)::after{ left: -20px; }
.timelineEvent:nth-of-type(even) { left: 50%; }

/* connectors */

.timelineEvent:nth-of-type(odd)::before{
    content: "";
    width: 30px;
    height: 8px;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 10px;    
    box-shadow: 0px 0px 20px #9f0712;
    transform: translateY(-50%);
    @apply
        bg-red-800
}

.timelineEvent:nth-of-type(even)::before {
    content: "";
    width: 30px;
    height: 8px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10px;    
    transform: translateY(-50%);
    box-shadow: 0px 0px 20px #9f0712;


    @apply
        bg-red-800
}

.timelineContent{
    position: relative;
    box-shadow: 0px 0px 20px #9f0712, 
                20px 20px 10px #170202;
                
    text-align: justify;
    @apply
        relative
        m-4
        border-4
        border-red-800
        bg-slate-800
        p-4
        rounded
}



@media screen and (max-width: 1024px) {
    .timeline::after {
        left: 31px;
    }

    .container {
        width: 100%;
        padding: 0px 25px 0 70px;
    }
}

#footer-icons a {
    @apply 
        p-4 
        bg-slate-800 
        rounded-full 
        ease-out 
        hover:bg-slate-200 
        hover:text-slate-900 
        active:bg-red-800 
        active:text-slate-200
}

#footer-icons a:nth-child(odd){
    @apply 
        bg-red-800 
        ease-out 
        hover:bg-slate-200 
        hover:text-slate-900 
        active:bg-slate-800 
        active:text-slate-200
}

@media screen and (max-width: 1024px) {
    #timelineMain::after {
        left: 31px;
    }

    .timelineEvent{
        width: 100%;
        padding-left: 60px;
    }

    .timelineEvent:nth-of-type(even)::after, .timelineEvent:nth-of-type(odd)::after{ left: 10px; }
    .timelineEvent:nth-of-type(even)::before, .timelineEvent:nth-of-type(odd)::before{ left: 50px; z-index: 2; }
    .timelineEvent:nth-of-type(even) {
        left: 0;
    }
}