@import "tailwindcss";
/*npx @tailwindcss/cli -i ./css/style.css -o ./dist/output.css --watch*/
* {
    @apply box-border
}

h1 {
    position: relative;
    text-shadow: 
        5px -2px 10px rgb(113, 8, 8),
        -5px 2px 10px rgb(19, 19, 102);
    @apply
    text-red-800
        font-bold 
        text-5xl
        pb-2
}

.h1Follower{
    right: 0;
    @apply
        w-sm
        rounded-full
        border-b-4
        border-red-800
}

h2 {
    @apply
        text-shadow-lg
        text-shadow-red-950
        text-red-800
        font-bold 
        text-2xl 
        mb-2
}

h3 {
    @apply
        text-shadow-md
        text-shadow-red-950
        text-red-800
        font-bold
        text-xl
        mb-2
}

b {
    @apply
        text-red-700
}

.wrapper {
    @apply
        pl-10
        pr-10
        pt-4
        pb-4
}

.link{
    @apply
        underline 
        italic 
        hover:text-red-400
}

html{
    scroll-behavior: smooth;
}

body {
    @apply text-white;
}

body::before {

    content: "";
    z-index: -1;
    background-image: url(../assets/checker.png);
    background-repeat: repeat;
    position: fixed;
    top: -128px;
    left: -128px;
    width: calc(100vw + 128px);
    height: calc(100vh + 128px);
    will-change: transform;
    animation: diagonalScroll 3s linear infinite;
    filter: brightness(35%);
}

@keyframes diagonalScroll {
    from { transform: translate(0px, 0px);   }
    to   { transform: translate(64px, 64px); }
}


/* ---------- */
/* HEADER CSS */
/* ---------- */

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin-top: -64px;
    z-index: 3;
}

header a {
    transition: all .2s ease;
    @apply
        p-2
        font-bold
        relative
}

header a:not(.mainHeaderLink)::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .2s ease;
    @apply
        bg-red-800
}

header a:not(.mainHeaderLink):hover::before {
    transform: scaleX(.8);
}


    header a:not(.mainHeaderLink) {
    @apply
        text-slate-200
        hover:text-slate-400
}

header .mainHeaderLink {
    @apply
        bg-red-800 
        rounded-md
        hover:bg-slate-200
        hover:text-red-800
}

/* ----------------------- */
/* TECHNICAL KNOWLEDGE CSS */
/* ----------------------- */

.card{
    box-shadow: 0px 0px 20px #9f0712;
    @apply
        border-red-800 
        border-3
        w-[20em] 
        p-4 
        rounded-2xl 
        bg-slate-900
        h-128
        mt-20
}

.cardIcon{
    @apply
        p-4 
        m-auto 
        w-fit 
        bg-slate-950
        border-red-800
        border-2
        rounded-md
}


/* ------------ */
/* TIMELINE CSS */
/* ------------ */

#timelineMain {
    position: relative;
    margin: 0 auto;
}

/* The line */
#timelineMain::after {
    content: '';
    position: absolute;
    width: 10px;
    top: 0;
    bottom: 0;
    left: 50%;
    border-radius: 10px;
    margin-left: -5px;
    box-shadow: 0px 0px 20px #9f0712;
    @apply
        bg-red-800
}

.timelineEvent {
    position: relative;
    width: 40%;
    
    @apply
        pt-2
        pb-2
        pr-6
        pl-6
}

/* Balls */
.timelineEvent::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    box-shadow: 0px 0px 20px #9f0712;

    @apply 
        border-6
      border-red-800
      bg-slate-800
        rounded-full
}

.timelineEvent:nth-of-type(odd) {
    left: 10%;
}

.timelineEvent:nth-of-type(even)::after{ left: -20px; }
.timelineEvent:nth-of-type(even) { left: 50%; }

/* connectors */
.timelineEvent:nth-of-type(odd)::before{
    content: "";
    width: 30px;
    height: 8px;
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 10px;    
    box-shadow: 0px 0px 20px #9f0712;
    transform: translateY(-50%);
    @apply
        bg-red-800
}

.timelineEvent:nth-of-type(even)::before {
    content: "";
    width: 30px;
    height: 8px;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 10px;    
    transform: translateY(-50%);
    box-shadow: 0px 0px 20px #9f0712;


    @apply
        bg-red-800
}

.timelineContent{
    position: relative;
    box-shadow: 0px 0px 20px #9f0712, 
                20px 20px 10px #170202;
                
    text-align: justify;
    @apply
        relative
        m-4
        border-4
        border-red-800
        bg-slate-800
        p-4
        rounded
}

@media screen and (max-width: 1024px) {


    #timeline {
        width: 100%;
        padding: 0px 25px;
    }

    .timelineEvent:nth-of-type(odd) { left: 0; }
    .timelineEvent { padding-right: 0;}
}

/* ------------ */
/* PROJECTS CSS */
/* ------------ */

#projects {
    --swiper-pagination-color: #9f0712;
    --swiper-navigation-color: #9f0712;
    --swiper-pagination-bullet-inactive-color: #9bb7df;
}

.swiper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.project {
    @apply
        w-100
        bg-slate-900
        rounded-xl
        border-2
        border-red-800
        h-105!
}

.project h3 {
    @apply
        mt-2
}

.project hr {
    @apply
        border-2
        w-12
        text-red-800
        rounded-full
}

.project p {
    @apply
        font-bold
        text-slate-500 
        text-justify
        mt-2
        mb-2
}

.projectTag {
    @apply
      rounded
        pl-2
        pr-2
        pt-1
        pb-1
}

.projectContent {
    @apply
        m-4
}

.projectImage {
    position: relative;
    display: block;
}

.projectImage img { 
    @apply 
        object-cover
        rounded-xl
        h-40
        w-full
    }

.projectImage::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #0f172b);
}

.projectLink {
    @apply
        absolute
        top-5
        right-5
        inline-block
        rounded-full
        p-4
        bg-slate-950
        border-red-800
        border-2
        mt-auto
        hover:bg-red-800 
        hover:text-slate-200
        active:bg-slate-200 
        active:text-slate-950;
}

#footer-icons a {
    @apply 
        transition
        p-4 
        bg-slate-800 
        rounded-full 
        ease-out 
        hover:bg-slate-200 
        hover:text-slate-900 
}

#footer-icons a:nth-child(odd){
    @apply 
        bg-red-800 
        ease-out 
        hover:bg-slate-200 
        hover:text-slate-900 
}

@media screen and (max-width: 1024px) {
    #timelineMain::after {
        left: 31px;
    }

    .timelineEvent{
        width: 100%;
        padding-left: 60px;
    }

    .timelineEvent:nth-of-type(even)::after, .timelineEvent:nth-of-type(odd)::after{ left: 10px; }
    .timelineEvent:nth-of-type(even)::before, .timelineEvent:nth-of-type(odd)::before{ left: 50px; z-index: 2; }
    .timelineEvent:nth-of-type(even) {
        left: 0;
    }
}